<footer>
  <ul class="links">
    <li><a href="mailto:marcky.sharky@gmail.com+subject=Hello">marcky dot sharky at gmail dot com</a></li>
    <li><a href="https://www.linkedin.com/in/marcawatts">linkedin</a></li>
    <li><a href="https://github.com/marckysharky">github</a></li>
    <li><a href="https://www.hackerrank.com/marcky_sharky">hacker rank</a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}. All rights reserved</li>
  </ul>
</footer>
